# employees management system

In [1]:
class emp:
    def __init__(self,emp_id,emp_name,emp_salary,emp_assign_dept):
        self.id=emp_id
        self.name=emp_name
        self.salary=emp_salary
        self.dept=emp_assign_dept
        
    def cal_sal(self,sal,hour_workd):
        overtime=0
        if hour_workd >50:
            overtime=hour_workd-50
            
        self.salary=self.salary+(overtime*(self.salary/50))
        
        
    def assign_dept(self,emp_dept):
        self.dept=emp_dept
        
        
    def emp_details(self):
        print('employe details')
        print('employee id:',self.id)
        print('employee name:',self.name)
        print('employee salary:',self.salary)
        print('employee department:',self.dept)
        print('-------------------------------------')

In [2]:
E1=emp('E7876','ADAMS',5000,'ACCOUNTING')

E2=emp('E7499','JONES',45000,'RESEARCH')

E3=emp('E7900','MARTIN',50000,'SALES')
E4=emp('E7698','SMITH',55000,'OPERARIONS')

In [3]:
E1.cal_sal(45000,52)

In [4]:
E1.emp_details()
E2.emp_details()
E3.emp_details()
E4.emp_details()

employe details
employee id: E7876
employee name: ADAMS
employee salary: 5200.0
employee department: ACCOUNTING
-------------------------------------
employe details
employee id: E7499
employee name: JONES
employee salary: 45000
employee department: RESEARCH
-------------------------------------
employe details
employee id: E7900
employee name: MARTIN
employee salary: 50000
employee department: SALES
-------------------------------------
employe details
employee id: E7698
employee name: SMITH
employee salary: 55000
employee department: OPERARIONS
-------------------------------------

In [5]:
E1.assign_dept('OPERATIONS')
E1.emp_details()

employe details
employee id: E7876
employee name: ADAMS
employee salary: 5200.0
employee department: OPERATIONS
-------------------------------------

In [6]:
E2.assign_dept('SALES')
E2.emp_details()

employe details
employee id: E7499
employee name: JONES
employee salary: 45000
employee department: SALES
-------------------------------------

In [7]:
E4.cal_sal(45000,60)
E4.emp_details()

employe details
employee id: E7698
employee name: SMITH
employee salary: 66000.0
employee department: OPERARIONS
-------------------------------------